.homeTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 2vh 3vw;
}
.homeSocialHub {
  display: flex;
  color: #111827;
  font-size: 24px;
  font-weight: bold;
}
.login {
  display: flex;
  height: 40px;
  width: 80px;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.signup {
  display: flex;
  height: 40px;
  width: 80px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: none;
  background-color: #6259e7;
  cursor: pointer;
}
.home {
  font-size: 18px;
  border: none;
  background-color: white;
  cursor: pointer;
}
.explore {
  font-size: 18px;
  border: none;
  background-color: white;
  cursor: pointer;
}
.message {
  font-size: 18px;
  border: none;
  background-color: white;
  cursor: pointer;
}
.profile {
  font-size: 18px;
  border: none;
  background-color: white;
  cursor: pointer;
}
.homeMiddle {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.homeBtn {
  display: flex;
  gap: 10px;
  font-weight: 300;
  font-size: 14px;
}
.homeLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.homeText {
  font-size: 48px;
  font-weight: 700;
}
.homeSection1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 3vw;
  background-color: #f3f4f6;
}
.homeSubText {
  font-size: 24px;
  font-weight: 500;
  color: #6b7280;
  margin-top: 10px;
}
.homeSubBtn {
  margin-top: 40px;
  border: none;
  background-color: #6259e7;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.homeSection2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10vh 3vw;
  background-color: #ffffff;
}
.homeSectionCard {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  padding: 30px;
}
.homeSectionCardText {
  font-size: 24px;
  font-weight: 600;
  color: #111827;
}
.homeSectionCardSubText {
  font-size: 18px;
  font-weight: 300;
  color: #6b7280;
}



@media (min-width: 1024px) {
  .homeSectionCard {
    width: 25%;
  }
}