.loginMainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #F3F4F6;
}
.loginLogoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}
.loginHeadText{
    font-size: 24px;
    font-weight: 600;
    color: #111827;
}
.loginSignText{
    margin-top: 10px;
    font-size: 32px;
    font-weight: 600;
    color: #111827;
}
.loginOrText{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #4B5563;
}
.loginOrSpan{
    color: #6259E7;
    cursor: pointer;
}
.loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.loginInput{
    width: 30vw;
    padding: 10px;
    outline: none;
}
.loginInputEmail{
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #D1D5DA;
    border-left: 1px solid #D1D5DA;
    border-right: 1px solid #D1D5DA;
    border-bottom: none;
    margin-top: 10px;
}
.loginInputPass{
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #D1D5DA;
    border-left: 1px solid #D1D5DA;
    border-right: 1px solid #D1D5DA;
    border-bottom: 1px solid #D1D5DA;
}
.loginInput:focus{
    border: 1px solid #6259E7;
}
.loginInput::placeholder{
    color: #D1D5DA;
}
.loginButton{
    width: calc(30vw + 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6259E7;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
}
.loginForgotPass{
    font-size: 14px;
    font-weight: 300;
    color: #6259E7;
    margin-top: 10px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .loginInput{
        width: 80vw;
    }
    .loginButton{
        width: calc(80vw + 20px);
    }
    
}