.forgotMainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #F3F4F6;
}
.forgotLogoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}
.forgotHeadText{
    font-size: 24px;
    font-weight: 600;
    color: #111827;
}
.forgotSignText{
    margin-top: 10px;
    font-size: 32px;
    font-weight: 600;
    color: #111827;
}
.forgotOrText{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #4B5563;
}
.forgotOrSpan{
    color: #6259E7;
    cursor: pointer;
}
.forgotForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.forgotInput{
    width: 30vw;
    padding: 10px;
    outline: none;
}
.forgotInputEmail{
    border-radius: 5px 5px 0 0;
    border: 1px solid #D1D5DA;
}
.forgotInput:focus{
    border: 1px solid #6259E7;
}
.forgotInput::placeholder{
    color: #D1D5DA;
}
.forgotButton{
    width: calc(30vw + 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6259E7;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
}
.forgotSiginText{
    font-size: 18px;
    font-weight: 300;
    color: #6259E7;
    margin-top: 50px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .forgotInput{
        width: 80vw;
    }
    .forgotButton{
        width: calc(80vw + 20px);
    }
    
}